.carousel-indicators li{
  height: 20px;
  width: 20px;
  margin: 0 5px;
  filter: drop-shadow(0px 3px 6px #000000);
  opacity: 1;


  &.active {
    background-color: $colour-primary;
  }
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
  display: none;
}

.carousel {
  height: 287px;
}

.carousel-item img {
  width: 100%;
  height: 287px;
  object-fit: cover;
}


@media (min-width: 500px) {
  .carousel {
    height: auto;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
}