.navbar-brand {
  font-size: 20px;
  font-family: $font-family-titles;
  font-weight: bold;
  font-style: italic;
}

.nav-link {
  font-size: 18px;
  font-family: $font-family-paragraph;
}

.navbar-toggler {
  border: none;
}

.search-form {
  margin-bottom: 0;
}

.search-input {
  height: 2.4rem;
}

::placeholder {
  font-family: $font-family-paragraph;
  font-size: 15px;
}

.form-btn {
  color: white;

  &:hover {
    color: $colour-primary;
    background-color: white;
  }
}



@media (min-width: 990px) {
  .nav-link {
    font-size: 16px;
    padding: 0;
  }
}
