.tabs-custom .nav-link {
  color: $colour-primary;
  padding: 5px 30px;
  font-size: 19px;
}

.tabs-container {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0px 20px 20px 20px;
  filter: drop-shadow(0px 5px 5px $colour-icons brightness(50%)) ;
}

.tabs-img {
  width: 100%;
  padding: 20px;
}

.tabs-info {
  padding: 20px;
}

.tabs-social {
  margin-top: 20px;
  display: flex;
  justify-content: left;
  align-items: center;

  & span {
    text-transform: uppercase;
    font-weight: 500;
    font-family: $font-family-paragraph;
  }
}