/* --- Custom Variables --- */
$colour-primary: #e92569;
$colour-secondary: #efefef;
$colour-radial-bg: radial-gradient(#fff, #e5e5e5); 
$colour-icons: #767676;
$colour-links: #0a0a0a;


$font-family-titles: 'Playfair Display', serif;
$font-family-paragraph: 'Lato', sans-serif;





/* --- Bootstrap Variables --- */
$headings-color: $colour-primary;

$theme-colors: (
  "primary": $colour-primary,
  "light": $colour-secondary
);

$navbar-light-brand-color: $colour-primary;
$navbar-light-brand-hover-color: $colour-primary;

$link-color: $colour-primary;


// $nav-pills-border-radius: 0px; 
// $nav-pills-link-active-color: white;
$nav-pills-link-active-bg: #fff;
// $btn-border-radius: 0;




/* --- Imports --- */

@import "~bootstrap/scss/bootstrap";


@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:ital,wght@0,400;1,700&display=swap');
@import "./partials/base.scss";
@import "./partials/footer.scss";
@import "./partials/nav.scss";
@import "./partials/typography.scss";
