/* --- Custom Variables --- */
$colour-primary: rgb(233, 37, 105);
$colour-secondary: rgb(239, 239, 239);
$colour-radial-bg: radial-gradient(circle at 50% 0, rgba(255,0,0,.5), rgba(255,0,0,0) 70.71%);
$colour-icons: rgb(118, 118, 118);


$font-family-titles: 'Playfair Display', serif;
$font-family-paragraph: 'Lato', sans-serif;





/* --- Bootstrap Variables --- */
$headings-color: $colour-primary;

$body-bg: $colour-radial-bg;




/* --- Imports --- */
// @import "~bootstrap/scss/functions";
// @import '~bootstrap/scss/variables';
@import "~bootstrap/scss/bootstrap";



@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:ital,wght@0,400;1,700&display=swap');
@import "./partials/base.scss";
@import "./partials/footer.scss";
@import "./partials/nav.scss";
@import "./partials/typography.scss";
